container_commands:
  01-add-jars-springframework:
    command: cp .ebextensions/spring-core-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-core-3.0.6.RELEASE.jar
  02-add-jars-springframework:
    command: cp .ebextensions/spring-context-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-context-3.0.6.RELEASE.jar
  03-add-jars-springframework:
    command: cp .ebextensions/spring-context-support-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-context-support-3.0.6.RELEASE.jar
  04-add-jars-springframework:
    command: cp .ebextensions/spring-beans-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-beans-3.0.6.RELEASE.jar
  05-add-jars-springframework:
    command: cp .ebextensions/spring-asm-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-asm-3.0.6.RELEASE.jar
  06-add-jars-springframework:
    command: cp .ebextensions/spring-aop-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-aop-3.0.6.RELEASE.jar
  07-add-jars-springframework:
    command: cp .ebextensions/spring-expression-3.0.6.RELEASE.jar /usr/share/tomcat7/lib/spring-expression-3.0.6.RELEASE.jar
  08-add-jars-xbean-spring:
    command: cp .ebextensions/xbean-spring-4.0.jar /usr/share/tomcat7/lib/xbean-spring-4.0.jar
  09-add-jars-commons-logging:
    command: cp .ebextensions/commons-logging-1.1.1.jar /usr/share/tomcat7/lib/commons-logging-1.1.1.jar
  10-add-jars-activemq:
    command: cp .ebextensions/activemq-all-5.9.1.jar /usr/share/tomcat7/lib/activemq-all-5.9.1.jar
  11-add-jars-activemq:
    command: cp .ebextensions/activemq-jaas-5.9.1.jar /usr/share/tomcat7/lib/activemq-jaas-5.9.1.jar
  12-add-broker-cert:
    command: cp .ebextensions/broker.ks /usr/share/tomcat7/conf/broker.ks
  13-add-broker-cert:
    command: cp .ebextensions/broker.ts /usr/share/tomcat7/conf/broker.ts
    
    