<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RepositoryTestContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=StrataAutomatedTest;Integrated Security=True;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="command_timeout">900</property>
      <property name="adonet.batch_size">50</property>
      <property name="connection.connection_string_name">RepositoryTestContext</property>
      <!--<property name="connection.connection_string">Server=L0115057\SQLSERVER;initial catalog=StrataAutomatedTest;Integrated Security=True</property>-->
      <!--<property name="connection.connection_string">Server=L0115108\CGSQL2;initial catalog=TbaManager1;Integrated Security=True</property>-->
      <!--<property name="connection.connection_string">Server=PHX1VDEVSQL103\CGSQL;initial catalog=TbaManagerAutomatedTest;User Id=tbadbtest;Password=tbamm1sql;</property>-->
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="show_sql">false</property>
    </session-factory>
  </hibernate-configuration>
  <!--
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  -->
</configuration>