<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Event Log Formatter" log="" machineName="." traceOutputOptions="None"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Logs\ids.server.log" footer="" formatter="Log File Formatter" header="" rollInterval="Midnight" rollSizeKB="50000" maxArchivedFiles="20"/>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="mcdm@capgroup.com" fromAddress="&quot;IDS Server&quot; IDSServer@capgroup.com" subjectLineStarter="IDS Server: " subjectLineEnder=" Notification - Details Enclosed" smtpServer="SMTPLINK.CAPGROUP.COM" formatter="Event Log Formatter" traceOutputOptions="DateTime, Timestamp, Callstack"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(FixedFormatISOInternationalDate)}
Title:{title}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Machine: {localMachine}
App Domain: {localAppDomain}
ProcessId: {localProcessId}
Process Name: {localProcessName}
Thread Name: {threadName}
Win32 ThreadId:{win32ThreadId}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Event Log Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp} [{category} - {severity}]  {threadName}: {message}" name="Log File Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Service Calls">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
          <add name="Event Log Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Exceptions">
        <listeners>
          <add name="Email Trace Listener"/>
          <add name="Event Log Listener"/>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Event Log Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener"/>
          <add name="Rolling Flat File Trace Listener"/>
          <add name="Email Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="ExceptionPolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Exceptions" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="ApplicationEntities" connectionString="metadata=res://*/ApplicationDataModel.csdl|res://*/ApplicationDataModel.ssdl|res://*/ApplicationDataModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=IMSO_DEV1;PASSWORD=+3PtrJPFCAJxjOgN6ly5ytCKgptc/sjH;PERSIST SECURITY INFO=True;USER ID=IDS_APP_USER&quot;" providerName="System.Data.EntityClient"/>
    <add name="CommonEntities" connectionString="metadata=res://*/CommonDataModel.csdl|res://*/CommonDataModel.ssdl|res://*/CommonDataModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=FIDS_DEV2;PASSWORD=fiat_app_dev;PERSIST SECURITY INFO=True;USER ID=FIAT_APP&quot;" providerName="System.Data.EntityClient"/>
    <add name="AttributionEntities" connectionString="metadata=res://*/AttributionDataModel.csdl|res://*/AttributionDataModel.ssdl|res://*/AttributionDataModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=FIDS_DEV2;PASSWORD=fids;PERSIST SECURITY INFO=True;USER ID=FIDS&quot;" providerName="System.Data.EntityClient"/>
    <add name="HistoricalModelContainer" connectionString="metadata=res://*/HistoricalModel.csdl|res://*/HistoricalModel.ssdl|res://*/HistoricalModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=FIDS_DEV1.world;PASSWORD=ueeXwgmF1sUOQOxUgoXBBw==;USER ID=IDS_APP_USER&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="IT"/>
    <add key="SmtpServer" value="SMTPLINK.CAPGROUP.COM"/>
    <add key="ServicesLocalPath" value="C:\Apps\IDSServer"/>
    <add key="ServicesRepositoryPath" value="C:\Apps\IDS\Services"/>
    <!-- Valid EntityFrameworkObjectSourceScope Values
      Scope  - Employs Unit Of Work pattern to encapsulate resource usage - if object source doesn't exist in Unit of Work, it will be supplied lazily.
      Static - Does not use Unit Of Work - object source exists as thread-safe static memory resource.
      Web    - Meant for a web-service context - explicitly requires the object source exist in the scope of the Unit of Work.
    -->
    <add key="EntityFrameworkObjectSourceScope" value="Scope"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Logs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
