name: Development-Pipeline
on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Cache Maven Packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Install
        working-directory: ./java
        run: mvn -Djdk.version=11 install

      - name: Test (Commit Stage)
        working-directory: ./java
        run: java -jar ./Tests/Strata.TestSuite.Stage/target/Strata.TestSuite.Stage-1.0.0-jar-with-dependencies.jar strata.testsuite.stage.commit.CommitSuite /tmp/test-results
